#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scores {
    width: 790px;
    margin: 5px;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}

#diffSelect {
    width: 200px;
    margin: 0 0 5px 300px;
}

#textbox {
    background-color: #ccc;
    border-style: solid;
    border-width: 5px;
    border-color: #ccc;
    border-radius: 5px;
    font-size: 1.1em;
}

.hide {
    display: none;
}